//Sum of digits in a number
#include <stdio.h>
#include <stdlib.h>
int main()
{
    int n,sum,digit;
    printf("Enter the number\n");
    scanf("%d",&n);
    sum=0;
    while(n!=0)
    {
        digit=n%10;
        n=n/10;
        sum=sum+digit;
    }
    printf("Sum = %d",sum);
}
